@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general style */
body{
    background: url('/img/bodyImg.jpg') no-repeat center;
    background-size: cover;
    font-family: "Montserrat", sans-serif;
}
img, 
input{
    display: block; 
}

input{
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}
button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    padding: 10px 0;
    background-color: transparent;
    color: #6DA01E;
    border: 2px solid #6DA01E;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
}
p{
    text-align: center;
}

/* style */
form{
    background: rgba(255, 255, 255, 0.38);
    max-width: 500px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 30px;
}

input[type='submit']{
    background-color: #6DA01E;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.password{
    position: relative;
}
.password img{
    position: absolute;
    top: 42px;
    right: 10px;
}

.namepassword{
    margin-top: 15px;
}
a{
    text-decoration: none;
    color: #6DA01E;
}

@media (max-width: 375px) {
    form{
        max-width: 100%;
        margin: 10px;
    }
    h2{
        font-size: 1.3rem;
    }
}
